################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cpp-4/cpp4/cpp4/.vs/cpp4/v16/Browse.VC.opendb
/cpp-4/exercise/exercise4/.vs/exercise4/v16/Browse.VC.opendb
*.opendb
